<div class="center jumbotron">
  <%= link_to "New Game", '/games/create', class: "btn btn-lg btn-primary btn-block" %>
  <%= link_to "Join Game", '/games/join_game', class: "btn btn-lg btn-primary btn-block" %>
</div>