<h1>Resistance Organization</h1>
<form action="/games/create" method="get">
  <input type="submit" value="New Game"/>
</form>

<form action="/games/join_game" method="get">
  <input type="submit" value="Join Game"/>
</form>

