<h1>
    <div class="text-success">
        Resistants win
    </div>
</h1>


<%= form_for :restart, url: '/games/restart', method: 'post' do |f| %>
    <div class="center">
        <%= f.submit "Restart Game", class: "btn btn-lg btn-primary"%>
    </div>
<% end %>