
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<script>
    var pusher = new Pusher('9624582dd73c35f24351', {
      encrypted: true
    });
    
    var channel = pusher.subscribe('<%= "channel_#{@game.id}" %>');
    channel.bind('refresh', function(data) {
      location.reload();
    });
</script>
<h1>Task Result</h1>

<div class="jumbotron">
    <% if @success_or_not == 'success' %>
        <p>Task Success</p>
    <% else %>
        <p>Task Fail</p>
    <% end %>
    
    <table class="table table-striped">
        <tr>
            <th>Success</th>
            <th>Fail</th>
        </tr>
    
        <tr>
            <td><%= @result[:pass] %></td>
            <td><%= @result[:not_pass] %></td>
        </tr>
    </table>
</div>

<div class="center">
    <%= button_to 'OK', @next, method: :get, class: 'btn btn-lg btn-primary' %>
</div>
