<h1>On Task</h1>
<div class="center jumbotron">
    <%= form_for :task, url: '/games/collect_tasks', method: 'post' do |f| %>
        <%= f.submit "Success", class: 'btn btn-lg btn-primary' %>
        <%= f.submit "Fail", class: 'btn btn-lg btn-primary'%>
    <% end %>
</div>