<h1>Tasking Page</h1>

<%= form_for :task, url: '/games/collect_tasks', method: 'post' do |f| %>
    <%= f.submit "Success"%>
<% end %>

<%= form_for :task, url: '/games/collect_tasks', method: 'post' do |f| %>
    <%= f.submit "Fail"%>
<% end %>