<h1><%= "Game " + @game.game_name %></h1>
<div class="center jumbotron">
    <%= form_for :seat, url: games_choose_seat_path, method: "post" do |f| %>
        <% (1..@game.player_num).each do |i| %>
            <% if @selected.include?i %>
                <%= f.submit "#{i}", class: "btn btn-lg btn-primary", disabled: "disabled" %>
            <% else %>
                <%= f.submit "#{i}", class: "btn btn-lg btn-primary" %>
            <% end %>
        <% end %>
    <% end %>
</div>


